.App {
  text-align: center;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 20%;
  right: 0;
  width: 200px;
  bottom: 15%;
  overflow-x: hidden;
  padding-top: 60px;
  background-color: #010e1f;
  background-color: #333;
}

.navbar ul{
  display: block;
  list-style: none;
  text-decoration: none;
}
.navbar li {
margin:20px;
}
.navbar a {
  text-decoration: none;
  color: #e7e0e0;
  font-weight: bold;
  padding-top: 5%;
  margin-right: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
  
  color: #8d6817;
}

.navbar a.active {
 
  color: #d3770e;
}

.cont {
  flex: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}
.sidebar {
  


  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 60px;
  background-color: #010e1f;
  
}


.card-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.sidebar a{
  color:#f1f1f1;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 20px;
}

.card:hover {
  transform: translateY(-0.5rem);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-cont {
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.card-date {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.card-auth {
  margin-bottom: 0.5rem;
}

.card-desc {
  margin-bottom: 1rem;
}

.card-summary {
  margin-bottom: 1rem;
}

.card-body {
  margin-bottom: 1rem;
}


.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
h1 {
  font-size: 2rem;
  background-color: #333;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem;
}








